<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Andrew's Blog</h1>
                <p>This is a blog site written in JavaScript (and Node).</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>My Blog Posts:</h3>
<ul>
    <% posts.forEach(function(post) { %>
        <li><a href = <%= "/posts/" + post %>><%= post %></a></li>
    <% }); %>
</ul>
            </div>
          </div>
        </div>
    </body>
</html>
