<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Blog Post 1 - Goals</h3>
                <p>My goals for my stay at Villiers Park are to advance my understanding of computer science, to decide whether computer science is what I want to do at university and to meet like-minded people from around the country. I hope to achieve my goals through the group secessions which will show us different parts of computer science and improve my programming knowledge. 
                We will also be undertaking an individual task in writing and designing a blog in a programming language chosen by us. My blog will be wrote in JavaScript, a language I have never encountered before.</p>
            </div>
          </div>
        </div>
    </body>
</html>
