<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Blog Post 2</h3>
                <p>There are two important factors to software engineering (according to Billy):
- Problem Solving
- Being Lazy
Problem solving is probably the more sensible of the two. Break your large problem into lots of small tasks to make it more manageable. By answering the simple questions like 'Who am I writing this program for?'  first, you can avoid much larger problems down the line and make your workload far easier. The easiest way to manage your workload is through the use of a list, which also lets you view how far away you are from completion. 
Being lazy actually ties in with problem solving. Minimize your global workload by working smart. Don't do more work than is needed and definitely don't overcomplicate things for yourself. Look at your target audience and ask yourself what you really need to achieve/ what is realistic. However, never copy and paste code as this will simply make your code longer than it needs to be and possibly slower.</p>
            </div>
          </div>
        </div>
    </body>
</html>
