<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Blog Post 3 - Automating blog posts</h3>
                <p>I have decided to use javascript to automate the adding of the blog links on my main page. This means that whenever I add my blog file to github, it will automatically add that file to my list on the main page. This means I will not have to manually add the link to the list every time.
                I did this using node.js to create a list of the files (blog posts) in my views folder and then using a loop to add the links to the list.</p>
            </div>
          </div>
        </div>
    </body>
</html>
